<%= render 'blog_navigation' %>
<div class="row">
  <h1><%= t('posts.articles') %></h1>
  <div class="col-md-8">
    <%= render @posts %>
    <%== pagy_bootstrap_nav(@pagy).html_safe %>
  </div>
  <div class="col-md-4">
    <%= render'shared/submenu' %>
    <%= render'shared/tags' %>
  </div>
</div>