<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
      <a class="navbar-brand"><%= t('navigation.brand') %></a>
    </div>

    <% if user_signed_in? %>
          <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/posts"><%= t('navigation.blog') %></a></li>
        <li><a href="/rooms"><%= t('navigation.chat') %></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Действие</a></li>
            <li><a href="#">Другое действие</a></li>
            <li><a href="#">Что-то еще</a></li>
            <li class="divider"></li>
            <li><a href="#">Отдельная ссылка</a></li>
            <li class="divider"></li>
            <li><a href="#">Еще одна отдельная ссылка</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown"><%= t('navigation.help') %><b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a id="info" href="#" data-remote="true" onclick="alert('<%= app_info(current_user) %>');"><%= t('navigation.about') %></a></li>
          </ul>
        </li>
        <li class="dropdown">
          <% if current_user.role == 'admin' %>
            <a class="dropdown-toggle" data-toggle="dropdown"><font color="red"><%= current_user.email %></font><b class="caret"></b></a>
          <% else %>
            <a class="dropdown-toggle" data-toggle="dropdown"><%= current_user.email %><b class="caret"></b></a>
          <% end %>
          <ul class="dropdown-menu">
            <li><a><%= t('navigation.role') %><%= current_user.role %></a></li>
            <li><a><%= t('navigation.level') %><%= current_user.level %></a></li>
            <li class="divider"></li>
            <li><%= link_to t('navigation.logout'), destroy_user_session_path, method: :delete, class:'dropdown-item' %></li>
          </ul>
        </li>
        <li>
          <%= image_tag current_user.image.url, width: 50, height: 50 %>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown"><%= I18n.locale %><b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a id="navigation-ru" href="#" data-remote="true">ru</a></li>
            <li><a id="navigation-en" href="#" data-remote="true">en</a></li>
          </ul>
        </li>
      </ul>
    
    <% else %>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t('navigation.login'), new_user_session_path, class:'nav-link' %></li>
      </ul>
    <% end %>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
