<!DOCTYPE html>
<html>
  <head>
    <title>Lightsoft</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/navigation" %>
    <% if user_signed_in? %>
      <div class="container-fluid sign_in">
    <% else %>
      <div class="container-fluid sign_out">
    <% end %>
    <% flash.each do |key, message| %>
      <p class="alert alert-<%= key %>"><%= message %></p>
    <% end %>
    <div class="container">
      <%= yield %> 
    </div>
    </div>
  </body>
</html>
